* {
  box-sizing: border-box;
}

.header-first {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #ffffff;
}

.navigation-menu {
  display: flex;
  gap: 16px;
  padding: 24px;
  align-items: center;
}
.button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.25px;
}
.button:hover {
  opacity: 0.5;
}
.navigation-menu__stick {
  margin-left: 20px;
  margin-right: 20px;
}
.logo {
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .stick_left,
  .button-call,
  .button-chat,
  .button-profile {
    display: none;
  }
  .logo {
    padding-left: 16px;
  }
  .navigation-menu {
    padding: 24px 16px;
  }
}
@media screen and (min-width: 1120px) {
  .header-first {
    display: none;
  }
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: $font-family_1;
	font-size: 1em;
}
a {
	background-color: $background-color_1;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b {
	font-weight: bolder;
}
strong {
	font-weight: bolder;
}
code {
	font-family: $font-family_1;
	font-size: 1em;
}
kbd {
	font-family: $font-family_1;
	font-size: 1em;
}
samp {
	font-family: $font-family_1;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
img {
	border-style: none;
}
button {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ;
	}
}
input {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
}
optgroup {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
select {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	text-transform: none;
}
textarea {
	font-family: $font-family_2;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: auto;
}
[type="button"] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ;
	}
}
[type="reset"] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ;
	}
}
[type="submit"] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px dotted ;
	}
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: $color_1;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"] {
	&::-webkit-inner-spin-button {
		height: auto;
	}
	&::-webkit-outer-spin-button {
		height: auto;
	}
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}
&::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.services {
  min-width: 320px;

  background-color: #f8f8f8;
}

.header-services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding-top: 24px;
}
.header-services__text {
  display: flex;
  gap: 30px;
}
.header-services__text > h1 {
  display: flex;
  font-size: 28px;
  white-space: nowrap;
}

.buttons-1120 {
  display: none;
  align-items: center;
  gap: 32px;
  padding-right: 30px;
}
.buttons-1120__repair {
  display: flex;
  gap: 8px;
  align-items: center;
  transition-duration: 0.25s;
}
.buttons-1120__repair:hover,
.buttons-1120__checkstatus:hover {
  opacity: 0.5;
}
.buttons-1120__checkstatus {
  display: flex;
  gap: 8px;
  align-items: center;
  transition-duration: 0.25s;
}
.buttons-1120 > a {
  text-decoration: none;
  color: #1b1c21;
  font-size: 16px;
}
.services__list {
  display: flex;
  gap: 24px;
  padding: 32px 32px;
  margin: 0px;
  padding-bottom: 0px;
}
.services__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.list__element {
  white-space: nowrap;
  height: 40px;
  width: auto;
  list-style-type: none;
}
.list__element > a {
  padding: 8px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #7e7e82;
  width: 100%;
  height: 100%;
  transition-duration: 0.1s;
}
.list__element > a:hover,
.list__element > a:visited,
.list__element > a:visited {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #ffffff;
}
.services__content {
  display: flex;
}

.text__text {
  display: block;
  color: #1b1c21;
  font-size: 14px;
}
.content__img > img {
  border-radius: 5px;
  width: 100%;
  min-width: 320px;
  max-width: 532px;
}

.text__button,
.text__button:active,
.text__button:focus {
  display: flex;
  border: 0;
  background: #f8f8f8;
  height: 24px;
  width: 132px;
  font-size: 16px;
  gap: 16px;
  align-items: center;
  justify-content: end;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .header-services__text {
    gap: 14px;
  }
  .services__content {
    flex-direction: column;
    width: 100%;
  }
  .content__text {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    min-width: 320px;
    max-width: 590px;
  }
  .text__text {
    height: 130px;
    width: 100%;
    overflow: hidden;
  }
  .content__img {
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .content__img > img {
    border-radius: 5px;
    min-width: 280px;
    max-width: 532px;
  }
  .services__list {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header-services__text {
    gap: 20px;
  }
  .buttons-1120 {
    display: none;
  }
  .services__list {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 24px;
  }
  .content__text {
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    min-width: 320px;
    max-width: 590px;
  }
  .text__text {
    height: 160px;
    overflow: hidden;
  }
  .content__img {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
  }
  .content__img > img {
    width: 360px;
  }
}
@media screen and (min-width: 1120px) {
  .services__list {
    overflow: auto;
    flex-wrap: wrap;
    gap: 0px 16px;
  }
  .services__list {
    padding-left: 34px;
  }
  .content__text {
    padding-left: 34px;
    padding-right: 18px;
  }
  .content__img {
    padding-left: 18px;
    padding-right: 28px;
    padding-bottom: 40px;
  }
  .content__img > img {
    width: 532px;
  }
  .buttons-1120 {
    display: flex;
  }
} ;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.brands {
  margin: 0px;
  padding: 0px;
  height: 234px;
  min-width: 320px;
  overflow: hidden;
  margin-top: 0px;
  background-color: #f8f8f8;
  font-family: 'TT Lakes, Arial, sans-serif';
}

.brands__swiper-slide {
  width: 240px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #ffffff;
}

.brands__slide {
  padding: 20px 16px;
  background-image: url(./static/button-brands.svg);
  background-position: top 16px right 16px;
  background-repeat: no-repeat;
}

.brands__header-brands {
  padding: 15px 0;
}

.brands__swiper-wrapper {
  padding: 16px 0;
}

.header-brands {
  display: block;
  margin: 0px;
  height: 80px;
  background: #f8f8f8;
  background: -moz-linear-gradient(left, #f8f8f8 0%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #f8f8f8 0%, #ffffff 100%);
  background: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=1 );
}

.header-brands__text {
  margin: 0px;
  padding: 0px;
  color: #7e7e82;
  font-family: 'TT Lakes';
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  text-align: Left;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .brands {
    padding-left: 16px;
  }
  .header-brands__text {
    width: 288px;
  }

  .brands_swiper-slide {
    display: block;
  }

  .brands__slide {
    padding: 20px 16px;
    background-image: url(./static/button-brands.svg);
    background-position: top 16px right 16px;
    background-repeat: no-repeat;
  }

  .brands_swiper-pagination {
    position: unset;
  }

  .brands__button-open {
    display: none;
  }

  .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #b5b6bc;
  }
}

@media screen and (min-width: 768px) {
  /* unset mobile specific swiper styles */
  .swiper {
    margin-left: unset;
    margin-right: unset;
    position: unset;
    overflow: unset;
    z-index: unset;
  }

  .swiper-wrapper {
    position: unset;
    width: unset;
    height: unset;
    z-index: unset;
    display: unset;
  }

  .swiper-slide {
    position: unset;
  }
  /* END */

  .brands {
    height: auto;
    padding-left: 24px;
  }

  .brands__swiper {
    height: 180px;
    overflow: hidden;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
  }

  .brands__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .brands__swiper-slide {
    margin-bottom: 16px;
    width: 224px;
    height: 72px;
  }

  .brands_swiper-pagination {
    display: none;
  }

  .brands__button-open,
  .brands__button-open:active,
  .brands__button-open:focus {
    display: flex;
    border: 0;
    background: #f8f8f8;
    height: 24px;
    width: 132px;
    font-size: 16px;
    background: url(./static/arrow-down.svg) left no-repeat;
    justify-content: end;
    margin-bottom: 32px;
  }

  .header-brands__text {
    color: #7e7e82;
    font-family: 'TT Lakes';
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    text-align: Left;
    font-weight: 400;
  }

  .stretched {
    height: auto;
  }

  .collapse,
  .collapse:active,
  .collapse:focus {
    height: 24px;
    width: 88px;
    display: flex;
    border: 0;
    background: #f8f8f8;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 31px;
    justify-content: end;
    background: url(./static/button2-brands.svg) left no-repeat;
  }
  .brands__swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.services__swiper {
  padding-top: 16px;
  padding-left: 16px;
  display: flex;
}

.services__swiper-slide {
  width: 240px;
  height: 160px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.services-swiper {
  display: block;
  width: 240px;
  height: 160px;
  list-style-type: none;
  background-color: #ffffff;
  background: url(./static/button-brands.svg) no-repeat 184px 104px;
}

.services-swiper > a {
  text-decoration: none;
  color: #1b1c21;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: block;
  padding: 16px;
}
.services-swiper-container {
  min-width: 320px;
  display: block;
  height: 337px;
  background-color: #f8f8f8;
}
.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #b5b6bc;
}
.services-swiper-container__header {
  min-width: 320px;
  padding: 16px;
  font-size: 16px;
  color: #7e7e82;
  height: 80px;
  background: #f8f8f8;
  background: -moz-linear-gradient(left, #f8f8f8 0%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #f8f8f8 0%, #ffffff 100%);
  background: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=1 );
}

@media screen and (max-width: 768px) {
  .services__swiper {
    height: 228px;
  }
  .services-swiper__button-open {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .services-swiper-container__header {
    padding-left: 32px;
  }
  .services__swiper-container {
    padding-top: 8px;
    padding-left: 18px;
    height: 200px;
    overflow: hidden;
  }

  .services-swiper {
    height: auto;
  }
  .services-swiper-container {
    background-color: #f8f8f8;
  }

  .services-swiper-container {
    height: auto;
  }

  .services__swiper-wrapper {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    gap: 24px 8px;
    justify-content: space-between;
  }
  .services-swiper {
    display: block;
    width: 240px;
    height: 160px;
    list-style-type: none;
    background-color: #ffffff;
    background: url(./static/button-brands.svg) no-repeat 184px 104px;
  }
  .services-swiper-container__header {
    height: 56px;
  }
  .services-swiper__button-open,
  .services-swiper__button-open:active,
  .services-swiper__button-open:focus {
    display: flex;
    border: 0;
    background: #f8f8f8;
    height: 24px;
    width: 132px;
    margin-top: 24px;
    margin-left: 32px;
    padding-bottom: 74px;
    font-size: 16px;
    background: url(./static/arrow-down.svg) left top no-repeat;
    justify-content: end;
  }
  .collapse,
  .collapse:active,
  .collapse:focus {
    height: 24px;
    width: 88px;
    display: flex;
    border: 0;
    background: #f8f8f8;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 32px;
    padding-bottom: 74px;
    justify-content: end;
    background: url(./static/button2-brands.svg) left top no-repeat;
  }
  .stretched {
    height: auto;
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: TT Lakes, Arial, sans-serif;
}
.categories-menu__opacity {
  width: 100%;
  background-color: white;
  opacity: 0.5;
}
.categories-menu {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  min-height: 100%;
}
.categories-menu__container {
  width: 320px;
  box-shadow: 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  background-color: white;
  height: 100%;
}
.categories-menu__navigation {
  width: 100%;
  align-items: center;
  display: flex;
  padding: 24px;
  gap: 16px;
}
.logotype {
  padding-right: 62px;
}
.categories-menu__list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.element-categories {
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 16px;
}
.element-categories > a {
  text-decoration: none;
  color: unset;
  width: 100%;
  height: 100%;
}
.element-categories_active {
  background: url(./static/stick-blue.svg) left no-repeat;
  color: #7e7e82;
}
.categories-menu__navigation-down {
  display: flex;
  padding: 16px 24px;
  gap: 16px;
}
.mail {
  margin-left: 24px;
  margin-top: 16px;
  height: 24px;
  font-size: 16px;
  margin-bottom: 12px;
  font-style: normal;
}

.number {
  margin-left: 24px;
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 40px;
}
.mail > a,
.number > a {
  text-decoration: none;
  color: #1b1c21;
}
.language-sheet {
  display: flex;
  padding-left: 24px;
  gap: 7px;
  padding-bottom: 32px;
}
.lang-element > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #1b1c21;
}
.lang-element_activated {
  color: #7e7e82;
}
.navigation-down__button:hover,
.element-categories:hover,
.button-searches:hover,
.button-close:hover {
  opacity: 0.5;
}
.navigation-down__button,
.element-categories,
.button-searches,
.button-close {
  transition-duration: 0.5s;
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 768px), (max-width: 1439) {
  .categories-menu__container {
    min-height: 100%;
  }
  .categories-menu__navigation-down {
    padding-top: 264px;
  }
}
@media screen and (min-width: 1336px) {
  .button-close {
    display: none;
  }
  .mini-boss-container {
    position: static;
  }
  .categories-menu__opacity {
    display: none;
  }
  .categories-menu {
    z-index: 0;
    display: flex;
    position: relative;
    margin-right: 0px;
    width: 320px;
  }
  .categories-menu__container {
    box-shadow: unset;
  }
  .boss-container {
    display: flex;
  }
}
.burger-flex {
  display: flex;
}
.posFixed {
  position: fixed;
}
.mini-boss-container {
  background-color: #f8f8f8;
}

.down-text {
  background-color: #f8f8f8;
  width: 100%;
}
.down-text__text {
  display: block;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  min-width: 288px;
  max-width: 453px;
}
.dowm-text__link > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  align-items: center;
}
.dowm-text__link {
  display: block;
  margin-left: 16px;
  margin-right: 112px;
  padding-bottom: 40px;
  min-width: 192px;
}
.link__red {
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .down-text__text {
    max-width: 469px;
    padding: 24px;
  }
  .dowm-text__link {
    margin-left: 24px;
    padding-bottom: 57px;
  }
}
@media screen and (min-width: 1337px) {
  .down-text__text {
    max-width: 485px;
    padding: 32px;
  }
  .dowm-text__link {
    margin-left: 32px;
    padding-bottom: 57px;
  }
}

.footer {
  background-color: #f8f8f8;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  display: block;
}
.footer__first-text {
  width: 100%;
  display: block;
  text-align: center;
}

.footer__second-text {
  width: 100%;
  display: block;
  text-align: center;
}
.footer__third-text {
  width: 100%;
  text-align: center;
  display: block;
}

.footer__third-text > a,
.footer__second-text > a,
.footer__first-text > a {
  justify-self: center;
  text-decoration: none;
  color: #7e7e82;
  width: 100%;
  height: 100%;
  line-height: 16px;
  font-size: 14px;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    padding: 24px;
  }
  .footer__first-text {
    text-align: start;
  }
  .footer__second-text {
    text-align: center;
  }
  .footer__third-text {
    text-align: end;
  }
}
@media screen and (min-width: 1336px) {
  .footer {
    padding: 32px;
  }
}

.feedback-menu {
  z-index: 3;
  width: 100%;
  min-height: 700px;
  display: none;
  position: absolute;
  top: 0;
}
.feedback-menu__opacity {
  width: 100%;
  display: none;

  background-color: white;
  opacity: 0.5;
}
.feedback-menu__button-close {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background: url(./static/button-close.svg) no-repeat;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.feedback-menu__header {
  margin: 0px;
  padding-left: 32px;
  background: url(./static/stick-blue.svg) no-repeat;
}
.feedback {
  background-color: white;
  display: block;
  min-width: 320px;
  max-width: 440px;
  max-height: 1200px;
  height: 100%;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}
.feedback__form > input {
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  border: #eaeaea 1px solid;
  border-radius: 8px;
}
.feedback-menu__textarea {
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  border: #eaeaea 1px solid;
  border-radius: 8px;
  height: 118px;
}
.feedback-menu__paragraph {
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 24px;
}
.feedback-menu__paragraph > span {
  color: #ff3e79;
}
.feedback-menu__button-send {
  display: block;
  width: 136px;
  height: 32px;
  background: url(./static/button-send-fed.svg) no-repeat;
  border: none;
  margin-left: auto;
  margin-bottom: 75px;
}
@media screen and (min-width: 440px) {
  .feedback-menu__opacity {
    display: unset;
  }
  .feedback {
    min-width: unset;
  }
}
@media screen and (min-width: 1330px) {
  .feedback-menu__button-close {
    position: absolute;
    right: 472px;
    top: 10px;
  }
  .feedback-menu__header {
    margin-top: 32px;
  }
  .feedback-menu__button-send {
    margin-bottom: 420px;
  }
}
.feedback-menu-unset {
  display: flex;
}

.request-call-menu {
  z-index: 3;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
}
.request-call-menu__opacity {
  width: 100%;
  display: none;

  background-color: white;
  opacity: 0.5;
}
.request-call-menu__button-close {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background: url(./static/button-close.svg) no-repeat;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.request-call-menu__header {
  margin: 0px;
  padding-left: 32px;
  background: url(./static/stick-blue.svg) no-repeat;
}
.request-call {
  background-color: white;
  display: block;
  min-width: 320px;
  max-width: 440px;
  max-height: 1200px;
  height: 100%;
}
.request-call-menu__form {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}
.request-call-menu__form > input {
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  border: #eaeaea 1px solid;
  border-radius: 8px;
}

.request-call-menu__paragraph {
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 24px;
}
.request-call-menu__paragraph > span {
  color: #ff3e79;
}
.request-call-menu__button-send {
  display: block;
  width: 136px;
  height: 32px;
  background: url(./static/button-send-fed.svg) no-repeat;
  border: none;
  margin-left: auto;
  margin-bottom: 75px;
}
@media screen and (min-width: 440px) {
  .request-call-menu__opacity {
    display: unset;
  }
  .request-call {
    min-width: unset;
  }
}
@media screen and (min-width: 900px) {
  .request-call-menu {
    height: 100%;
  }
}
@media screen and (min-width: 1330px) {
  .request-call-menu__button-close {
    position: absolute;
    right: 472px;
    top: 10px;
  }
  .request-call-menu__header {
    margin-top: 32px;
  }
  .request-call-menu__button-send {
    margin-bottom: 420px;
  }
}
.feedback-menu-unset {
  display: flex;
}

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Light.eot);
  src: local("TT Lakes Light"), local("../fonts/TTLakes-Light"),
    url(./fonts/TTLakes-Light.eot?#iefix) format("embedded-opentype"),
    url(./fonts/TTLakes-Light.woff) format("woff"),
    url(./fonts/TTLakes-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("../fonts/TTLakes-Regular"),
    url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"),
    url(./fonts/TTLakes-Regular.woff) format("woff"),
    url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("../fonts/TTLakes-Medium"),
    url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"),
    url(./fonts/TTLakes-Medium.woff) format("woff"),
    url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-DemiBold.eot);
  src: local("TT Lakes DemiBold"), local("../fonts/TTLakes-DemiBold"),
    url(./fonts/TTLakes-DemiBold.eot?#iefix) format("embedded-opentype"),
    url(./fonts/TTLakes-DemiBold.woff) format("woff"),
    url(./fonts/TTLakes-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("../fonts/TTLakes-Bold"),
    url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"),
    url(./fonts/TTLakes-Bold.woff) format("woff"),
    url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}



/*# sourceMappingURL=style.css.map*/