.feedback-menu {
  z-index: 3;
  width: 100%;
  height: auto;
  display: none;
  position: fixed;
  top: 0;
  &__opacity {
    width: 100%;
    display: none;
    background-color: white;
    opacity: 0.5;
  }
  &__button-close {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background: url(../../img/button-close.svg) no-repeat;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  &__header {
    margin: 0px;
    padding-left: 32px;
    background: url(../../img/stick-blue.svg) no-repeat;
  }
  &__textarea {
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    border: #eaeaea 1px solid;
    border-radius: 8px;
    height: 118px;
  }
  &__paragraph {
    margin: 0px;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 24px;
    span {
      color: #ff3e79;
    }
  }
  &__button-send {
    display: block;
    width: 136px;
    height: 32px;
    background: url('../../img/button-send-fed.svg') no-repeat;
    border: none;
    margin-left: auto;
    margin-bottom: 75px;
  }
}

.feedback {
  background-color: white;
  display: block;
  min-width: 320px;
  min-height: 700px;
  max-width: 440px;
  height: 100vh;
  &__form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
    input {
      padding: 12px;
      font-size: 16px;
      line-height: 24px;
      border: #eaeaea 1px solid;
      border-radius: 8px;
    }
  }
}

@media screen and (min-width: 440px) {
  .feedback-menu__opacity {
    display: unset;
  }
  .feedback {
    min-width: unset;
  }
}
@media screen and (min-width: 1130px) {
  .feedback-menu {
    position: fixed;
  }
}
@media screen and (min-width: 1330px) {
  .feedback-menu__button-close {
    position: absolute;
    right: 472px;
    top: 10px;
  }
  .feedback-menu__header {
    margin-top: 32px;
  }
  .feedback-menu__button-send {
    margin-bottom: auto;
  }
}
.feedback-menu-unset {
  display: flex;
}
body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
