.footer {
  background-color: #f8f8f8;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  display: block;
}
.footer__first-text {
  width: 100%;
  display: block;
  text-align: center;
}

.footer__second-text {
  width: 100%;
  display: block;
  text-align: center;
}
.footer__third-text {
  width: 100%;
  text-align: center;
  display: block;
}

.footer__third-text > a,
.footer__second-text > a,
.footer__first-text > a {
  justify-self: center;
  text-decoration: none;
  color: #7e7e82;
  width: 100%;
  height: 100%;
  line-height: 16px;
  font-size: 14px;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    padding: 24px;
  }
  .footer__first-text {
    text-align: start;
  }
  .footer__second-text {
    text-align: center;
  }
  .footer__third-text {
    text-align: end;
  }
}
@media screen and (min-width: 1336px) {
  .footer {
    padding: 32px;
  }
}
